.full {
  a:hover {
  cursor: url(/assets/cursorCROSS.cur)!important, w-resize;
  }
  .sakura {
    position: fixed;
    margin-top: 6px;
    margin-left: 6px;
  }
  img {
    width: 100%;
  }
  h3 {
    margin: 0;
  }

}






