<!-- gros sakura or  -->
<!-- <div class="container_sakura_photo">
  image_tag SAKURA.png
</div>
 -->

<div class="full">
  <div class="sakura">
    <h3 class="glitch_logo" data-text="SAKURA">SAKURA
    </h3>
  </div>
  <%= link_to show_style_path(@style) do %>
      <%= image_tag @photo.image %>
  <% end %>
</div>
